header{
  position:relative;
  padding: 40px 0;
}

p span{
  color: blue;
  font-weight: bold;
}

.font100{
  font-size: 100px;
  font-weight: bold;
}

.fw-bold{
  font-weight: bold;
}

.font32{
  font-size: 32px;
}

.text-helvetica{
  font-family: Helvetica;
}

.text-white{
  color: white;
}

.margin-auto{
  margin: 0px auto;
}

.text-center{
  text-align: center;
}

.khaki{
  color: khaki;
}

.bg-green{
  background-color: mediumspringgreen;
}

.bg-coral{
  background-color: lightcoral;
}

.bg-skyblue{
  background-color: skyblue;
}

#banner{
  background-image: url("./assets/pattern.jpeg");
}
